#tela {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #222;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#personagem {
    width: 50px;
    height: 50px;
    background: rgba(83, 206, 34, 1);
    border-radius: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
    user-select: none;
    -webkit-user-select: none;
}

.inimigo {
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    font-family: Arial, sans-serif;
    font-size: 18px;
    user-select: none;
    -webkit-user-select: none;
}

.tiro {
    width: 10px;
    height: 10px;
    background: #ff0;
    border-radius: 50%;
    position: absolute;
}