*{
    user-select: none;
}

#tela {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #222;
    overflow: hidden;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#personagem {
    width: 50px;
    height: 50px;
    background-image: url('../assets/nave.png');
    background-size: cover;
    border-radius: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
}

.inimigo {
    width: 45px;
    height: 45px;
    background-image: url('../assets/inimigo.png');
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    font-family: Arial, sans-serif;
    font-size: 18px;
    z-index: 500;

    background-size: cover;
}

.tiro {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}

.estrela {
    width: 25px;
    height: 25px;
    background-image: url('../assets/estrela.png');
    background-size: contain;
    background-repeat: no-repeat;
}