body{
  display: flex;
  background-color: #292727;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#start-btn{
  font-size: 1.05rem;
  padding: 0.6rem 1.1rem;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.35);
}

.upgrade-card{
  background-color: rgb(0, 0, 0);
  color: antiquewhite;
  border-radius: 10px;
  border: solid 1px;
  width: 210px;
  height: 240px;
  aspect-ratio: 1 / 1;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu{
  align-items: center;
  justify-items: center;
}

.upgrades{
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.reset-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

